@keyframes scaleUp {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.animate-scaleUp {
    animation: scaleUp 1s ease-out forwards;
}


.inconsolata {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.audiowide {
    font-family: "Audiowide", sans-serif;
    /* font-weight: 400; */
    font-style: normal;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: 500; */
    font-style: normal;
}

.liu-jian {
    font-family: "Liu Jian Mao Cao", cursive;
    font-weight: 400;
    font-style: normal;
}